{% extends '@RadditApp/forum_base.html.twig' %}

{% block page_classes 'forum-ban-history-page' %}
{% block title 'title.showing_ban_history_for_user_in_forum'|trans({
  '%user%': '/u/'~user.username,
  '%forum%': '/f/'~forum.name,
}) %}

{% block head %}
  {{ include('@RadditApp/includes/meta_pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'label.action'|trans }}</th>
        <th>{{ 'label.reason'|trans }}</th>
        <th>{{ 'label.banned'|trans }}</th>
        <th>{{ 'label.expires'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for ban in bans %}
        <tr>
          <td>{{ (ban.ban ? 'label.ban' : 'label.unban')|trans }}</td>
          <td>{{ ban.reason }}</td>
          <td>
            {% with {date: ban.timestamp|localizeddate('long', 'short')} %}
              <time datetime="{{ ban.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
                {{- date -}}
              </time>
            {% endwith %}
          </td>
          <td>
            {% if ban.expiryTime %}
              {% with {date: ban.expiryTime|localizeddate('long', 'short')} %}
                <time datetime="{{ ban.expiryTime|date('c') }}" class="relative-time" title="{{ date }}">
                  {{- date -}}
                </time>
              {% endwith %}
            {% else %}
              {{ 'label.never'|trans }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ include('@RadditApp/includes/pagination.html.twig', {pager: bans}, with_context=false) }}
{% endblock %}

