{% extends '@RadditApp/forum_ban.html.twig' %}

{% block title 'title.unbanning_user_from_forum'|trans({
  '%user%': '/u/'~user.username,
  '%forum%': '/f/'~forum.name,
}) %}

{% block page_classes 'forum-unban-page' %}
