{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}registration-page{% endblock %}
{% block title 'title.sign_up'|trans %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% include '@RadditApp/forms/user_form.html.twig' %}
{% endblock %}
