{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}
  reset-password-page
{% endblock %}

{% block title %}{{ 'reset_password.title'|trans }}{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% include '@RadditApp/forms/user_form.html.twig' %}
{% endblock %}

