{% extends '@RadditApp/wiki.html.twig' %}

{% block page_classes %}
  wiki-edit-page
{% endblock %}

{% block title %}
  {{ 'wiki.editing_title'|trans({'%path%': page.path}) }}
{% endblock %}

{% block body %}
  <h1>{{ 'wiki.editing_title'|trans({
    '%path%': '<a href="%s">%s</a>'|format(path('raddit_app_wiki', {path: page.path})|escape, page.path|escape)
  })|raw }}</h1>

  {% include '@RadditApp/forms/wiki_form.html.twig' with {form: form} only %}
{% endblock %}

