{{ form_start(form) }}
  {{ form_row(form.name) }}

  {{ form_row(form.title) }}

  <div class="form__row">
    {{ form_label(form.description) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}

    <div class="form__help">
      <p>{{ 'help.forum_description'|trans }}</p>
    </div>
  </div>

  {{ form_row(form.sidebar, {attr: {rows: 8}}) }}

  {{ form_row(form.category) }}

  {% if form.featured is defined %}
    {{ form_row(form.featured) }}
  {% endif %}

  <div class="form__row">
    {{ form_widget(form.submit) }}
  </div>
{{ form_end(form) }}
